@model Syra.Admin.Entities.BotDeployment

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BotDeployment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuisDomain.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuisDomain.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeploymentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeploymentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResourceGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResourceGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlobStorageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlobStorageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebSiteUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebSiteUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleteDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleteDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPlanActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPlanActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeploymentScript)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeploymentScript)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
