@using Syra.Admin.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login to My Chatbots";
}
<h2 style="margin-left: 5.7%;">@ViewBag.Title</h2>
<div class="row" style="margin-top:-50px;">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4></h4>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">

                    <div class="input-container" style="display: -ms-flexbox;display: flex;width: 100%;margin-bottom: 15px;margin-left: 10%;">
                        <i class="fa fa-envelope icon" style="padding: 10px;background: #8d3052;color: white;min-width: 50px;text-align: center;"></i>
                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control", @style = "width:50%;height: 35px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-container" style="display: -ms-flexbox;display: flex;width: 100%;margin-bottom: 15px;margin-left: 10%;">
                        <i class="fa fa-lock icon" style="padding: 10px;background: #8d3052;color: white;min-width: 50px;text-align: center;"></i>
                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control", @style = "width:50%;height: 35px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                  </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox" style="margin-left: -11%;">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Login" id="login" class="btn btn-default" style="border-radius:5px;height:20%;width:15%;font-weight:bold;color:#FFFFFF;margin-left: -11%;background-color: #8d3052;"/>
                        </div>
                    </div>
                    <p style="margin-left:7%">
                        @Html.ActionLink("Register as a New User", "Register")
                    </p>
                    }
            </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}