@model Syra.Admin.Models.RegisterViewModel
@{
    ViewBag.Title = "Register User";
}
<head>
    <style>
        h3 {
            font-size: 22px;
            font-weight: 300;
            color: #555;
            line-height: 30px;
        }

        .form-box {
            /*margin-top: 30px;*/
        }

        .form-top {
            overflow: hidden;
            /*padding: 0 25px 15px 25px;*/
            background: #f3f3f3;
            -moz-border-radius: 4px 4px 0 0;
            -webkit-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
            text-align: left;
        }

        .form-top-left {
            float: left;
            width: 75%;
            padding-top: 25px;
        }

            .form-top-left h3 {
                margin-top: 0;
            }

        .form-top-right {
            float: left;
            width: 25%;
            padding-top: 5px;
            font-size: 66px;
            color: #ddd;
            line-height: 100px;
            text-align: right;
            padding-right: 30px;
        }

        .form-bottom {
            /*padding: 25px 25px 30px 25px;*/
            background: #eee;
            -moz-border-radius: 0 0 4px 4px;
            -webkit-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
            text-align: left;
            margin-top: -10px;
            height: 450px;
            max-height:550px;
        }
            .form-bottom form textarea {
                height: 100px;
            }

            .form-bottom form button.btn {
                width: 100%;
            }

        #loginForm {
            padding-top: 2%;
        }

        .form-bottom form .input-error {
            border-color: #19b9e7;
        }

        #password {
            width: 120%;
            margin-left: 10%;
            margin-top: -15px;
        }
        #confirmPassword {
            width: 120%;
            margin-left: 10%;
            margin-top: -15px;
        }
        #plan {
            width: 120%;
            margin-left: 10%;
            margin-top: -15px;
        }
        #jobTitle {
            width: 120%;
            margin-left: 10%;
            margin-top: -15px;
        }
        #company {
            width: 120%;
            margin-left: 10%;
            margin-top: -15px;
        }
        #planlink {
            font-size: 12px;
        }
        #plandropdown {
            display: inline-block;
            margin-left: -1%;
            border-radius: 0px;
        }
        #dropdownlist {
            width: 80%;
            display: inline-block;
        }
        .input-container {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            width: 100%;
            margin-bottom: 15px;
        }
        .icon {
            padding: 10px;
            background: #8d3052;
            color: white;
            min-width: 50px;
            text-align: center;
        }

        .input-field {
            width: 100%;
            padding: 10px;
            outline: none;
        }

            .input-field:focus {
                border: 2px solid dodgerblue;
            }

        .btn {
            background-color: dodgerblue;
            color: white;
            padding: 15px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }
        #registration-col-sm-6-row {
            margin-left: 25%;
            background-color: #ffffff;
        }

        #registration-row {
            background-color: lavender;
        }

        #emailForm {
            width: 120%;
            margin-left: 10%;
            padding-top: 5%;
        }
        #passwordIcon {
            height: 10%;
        }
            .btn:hover {
                opacity: 1;
            }
    </style>
</head>
@*<h2>@ViewBag.Title</h2>*@
<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row" id="registration-row">
                <div class="col-sm-6" id="registration-col-sm-6-row">
                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3 style="color:#8e3052;text-align:center">Register User</h3>
                                <p style="text-align:center;">Fill in the form below</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-pencil"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new
                            {
                                @class = "form-horizontal",
                                role = "form"
                            }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group"id="emailForm">
                                    <div class="input-container">
                                        <i class="fa fa-user icon"></i>
                                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control", @style = "width:60%;height: 35px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="form-group" id="password">
                                    <div class="input-container">
                                        <i class="fa fa-lock icon" id="passwordIcon"></i>
                                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control", @style = "width:60%;height: 35px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group" id="confirmPassword">
                                    <div class="input-container">
                                        <i class="fa fa-lock icon"></i>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control", @style = "width:60%;height: 35px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" })
                                        @*@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <div class="form-group" id="jobTitle">
                                    <div class="input-container">
                                        <i class="fa fa-briefcase icon"></i>
                                        @Html.TextBoxFor(m => m.JobTitle, new { placeholder = "Job Title", @class = "form-control", @style = "width:60%;height: 35px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" })
                                        @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group" id="company">
                                    <div class="input-container">
                                        <i class="fa fa-building icon"></i>
                                        @Html.TextBoxFor(m => m.Company, new { placeholder = "Company", @class = "form-control", @style = "width:60%;height: 35px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" })
                                        @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group" id="plan">
                                    <div class="input-container" id="dropdownlist">
                                        <i class="fa fa-money icon"></i>
                                        @Html.DropDownList("PlanId", null, "Choose Plan", htmlAttributes: new { @class = "form-control", @id = "plandropdown", @style = "width:60%;height: 35px;-webkit-box-shadow: 0 10px 6px -6px #777;-moz-box-shadow: 0 10px 6px -6px #777;box-shadow: 0 5px 6px -6px #777;" })
                                    </div>
                                    <div style="display:inline-block;margin-left: -25%;">
                                        <a id="planlink" href="https://syra.ai/pricing/">Click here to see Plans</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-sm-3">
                                        <input type="submit" id="registerButton" class="btn btn-default" value="Register" style="margin-left: -35%;border-radius:5px;font-weight:bold;color:#FFFFFF;background-color: #8d3052;box-shadow: 0 5px 10px -6px #777;" } />
                                    </div>
                                </div>
                             }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>                  
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
